<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index</title>
</head>
<body>
	<h2>首頁</h2>
	<a th:href="@{/loginPage}">登入</a><br>
	 <a th:href="@{/area}">會員專區</a><br>
	<a th:href="@{/loginAjaxPage}">AJAX登入</a><br>
	 <a th:href="@{/signOut}">登出</a><br>
</body>
<!--
<body>
	<h2>首頁</h2>
	<a th:href="@{/welcome}">登入</a><br>
	 <a th:href="@{/area}">會員專區</a><br>
	<a th:href="@{/welcomeAjax}">AJAX登入</a><br>
	 <a th:href="@{/signOut}">登出</a><br>
</body>
-->