<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Fail</title>
</head>
<body>
	<h2>登入頁面</h2>
	<form method="POST" action="/demo/login">
		<table style="margin:auto">
			<tr>
				<td><label>Account</label></td>
				<td><input type="text" name="account"  th:value="${account}"></td>
			</tr>
			<tr>
				<td><label>Password</label></td>
				<td><input type="text" name="password" th:value="${password}"></td>
			</tr>
			<tr>				
				<td><input type="submit" value="Sign in"></td>
			</tr>
		</table>
	</form>
	
	<th:block th:unless="${error==null}" >
		<table  style="margin:auto;color:red"><tr><td>
			<ul>		
				<li><span th:text="${error}"></span> </li>		
			</ul>
			</td></tr></table>
	</th:block>
</body>
</html>