<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Ajax登入成功</h2>
	<form method="GET">
		<table border="1" style="margin:auto">
			<tr><th>ID</th><th>Account</th><th>Password</th></tr>
			<tr>
				<td><span th:text="${command.memberId}"></span></td>
				<td><span th:text="${command.account}"></span></td>
				<td><span th:text="${command.password}"></span></td>
			</tr>
			
		</table>
	</form>
	<a th:href="@{.}">首頁</a>
	 <a th:href="@{/area}">會員專區</a>
</body>
</html>